.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 200px;
}

.button {
    position: relative;
}

.results {
    white-space: nowrap;
    font-size: 40px;
    margin-right: 300px;
    text-align: right;
    position: relative;
    bottom: 400px
}

